<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" ></script>
</head>

<body>



<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-right">
            <div style="height: 320px">video</div>
            <div style="height: 128px">waveform</div>
            <div style="height: 64px">face-based-segmentation</div>
            <div style="height: 64px">audio-based-segmentation</div>
            <div style="height: 64px">fusion</div>
        </div>
        <div class="col-md-10">
            <div id="player"></div>
            <div id="waveform" style="overflow-x: scroll; width:1000px; position:relative;">
                <div id="position" style="width: 1px; background-color: red; height: 335px; position: absolute; z-index: 5"></div>
                <img src="{{waveform_img}}"/>
                <div id="image_annotations" style="margin-top:5px; position:relative; width:{{ waveform_width }}px; background: #eee; height: 64px">
                </div>
                <div id="audio_annotations" style="margin-top:5px; position:relative; width:{{ waveform_width }}px; background: #eee; height: 64px">
                </div>
                <div id="fusion_annotations" style="margin-top:5px; position:relative; width:{{ waveform_width }}px; background: #eee; height: 64px">
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '320',
            width: '1000',
            playerVars: { 'autoplay': 0, 'rel': 0 },
            videoId: '{{ youtube_video_id }}',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
    }

    var currentTime = 0;

    function onPlayerStateChange(event) {
            updateWaveformPosition();
    }

    function updateWaveformPosition(){
        var pixelsPosition = getPixelFromSeconds(currentTime);
        var scrollLeft = Math.floor(pixelsPosition / 1000) * 1000;
        document.getElementById("waveform").scrollLeft = scrollLeft;
    }

    function getPixelFromSeconds(positionInSeconds){
        var duration = {{ duration }};
        var totalPixels = {{ waveform_width }};
        return (totalPixels * positionInSeconds) / duration;
    }


    setInterval(function(){
        currentTime = player.getCurrentTime();

        var pixelsPosition = getPixelFromSeconds(currentTime);
        document.getElementById("position").style.left = pixelsPosition + "px";

        var xx = pixelsPosition - document.getElementById("waveform").scrollLeft;

        if(xx > 990 && player.getPlayerState() === YT.PlayerState.PLAYING){
            updateWaveformPosition();
        }
    }, 100);

    var colors = [
        "Red",
        "Lime",
        "Yellow",
        "Green",
        "Blue",
        "Aqua",
        "Teal",
        "Navy",
        "Fuchsia",
        "Maroon",
        "Purple"];

    var silence_color = "#555555";

    $.getJSON('{{audio_lbls}}', function(data) {

        var class_color_mapping = {};

        var classes = new Set();

        $.each(data, function(key, value){
            classes.add(value.label);
        });
        classes = Array.from(classes);

        $.each(classes, function(key, value){
            if(value === "non_speech"){
                class_color_mapping[value] = silence_color;
            }
            else {
                class_color_mapping[value] = colors[key];
            }
        });

        $.each(data, function(key, value){
            var left = getPixelFromSeconds(value.start_seconds);
            var duration = getPixelFromSeconds(value.end_seconds - value.start_seconds);
            var color = class_color_mapping[value.label];
            $('#audio_annotations').append(
                '<div style="background: '+color+'; position: absolute; left:'+left+'px; width:'+duration+'px; opacity: 0.5; height:64px;">'
            )
        });
    });


    $.getJSON('{{image_lbls}}', function(data) {

        var class_color_mapping = {};

        var classes = new Set();

        $.each(data, function(key, value){
            classes.add(value.label);
        });
        classes = Array.from(classes);

        $.each(classes, function(key, value){
            class_color_mapping[value] = colors[key];
        });

        $.each(data, function(key, value){
            var left = getPixelFromSeconds(value.start_seconds);
            var duration = getPixelFromSeconds(value.end_seconds - value.start_seconds);
            var color = class_color_mapping[value.label];
            $('#image_annotations').append(
                '<div style="background: '+color+'; position: absolute; left:'+left+'px; width:'+duration+'px; opacity: 0.5; height:64px;">'
            )
        });
    });


    $.getJSON('{{fusion_lbls}}', function(data) {

        var class_color_mapping = {};

        var classes = new Set();

        $.each(data, function(key, value){
            classes.add(value.label);
        });
        classes = Array.from(classes);

        $.each(classes, function(key, value){
            if(value === "non_speech"){
                class_color_mapping[value] = silence_color;
            }
            else {
                class_color_mapping[value] = colors[key];
            }
        });

        $.each(data, function(key, value){
            var left = getPixelFromSeconds(value.start_seconds);
            var duration = getPixelFromSeconds(value.end_seconds - value.start_seconds);
            var color = class_color_mapping[value.label];
            $('#fusion_annotations').append(
                '<div style="background: '+color+'; position: absolute; left:'+left+'px; width:'+duration+'px; opacity: 0.5; height:64px;">'
            )
        });
    });

</script>
</body>
</html>
