<!DOCTYPE html>
<html>
<body>

<div id="player"></div>

<div id="waveform" style="overflow-x: scroll; width:1000px; position:relative;">

    <div id="position" style="width: 1px; background-color: red; height: 196px; position: absolute; z-index: 5"></div>
    <img src="/static/img/waveforms/{{youtube_video_id}}.jpg"/>
    <div style="position:relative; width:{{ waveform_width }}px; background: #eee; height: 64px">
        <div style="background: red; position: absolute; left:100px; width:200px; opacity: 0.5; height:64px;"></div>
        <div style="background: green; position: absolute; left:500px; width:200px; opacity: 0.5; height:64px;"></div>
    </div>
</div>


<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '420',
            width: '1000',
            playerVars: { 'autoplay': 0, 'rel': 0 },
            videoId: '{{ youtube_video_id }}',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
    }

    var currentTime = 0;

    function onPlayerStateChange(event) {
            updateWaveformPosition();
    }

    function updateWaveformPosition(){
        var pixelsPosition = getPixelFromSeconds(currentTime);
        var scrollLeft = Math.floor(pixelsPosition / 1000) * 1000;
        document.getElementById("waveform").scrollLeft = scrollLeft;
    }

    function getPixelFromSeconds(positionInSeconds){
        var duration = player.getDuration();
        var totalPixels = {{ waveform_width }};
        return (totalPixels * positionInSeconds) / duration;
    }


    setInterval(function(){
        currentTime = player.getCurrentTime();

        var pixelsPosition = getPixelFromSeconds(currentTime);
        document.getElementById("position").style.left = pixelsPosition + "px";

        var xx = pixelsPosition - document.getElementById("waveform").scrollLeft;

        if(xx > 990 && player.getPlayerState() === YT.PlayerState.PLAYING){
            updateWaveformPosition();
        }
    }, 100);

</script>
</body>
</html>
