<!DOCTYPE html>
<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

<div id="player"></div>

<div id="waveform" style="overflow-x: scroll; width:1000px; position:relative;">

    <div id="position" style="width: 1px; background-color: red; height: 265px; position: absolute; z-index: 5"></div>
    <img src="/static/img/waveforms/{{youtube_video_id}}.jpg"/>
    <div id="image_annotations" style="position:relative; width:{{ waveform_width }}px; background: #eee; height: 64px">
    </div>
    <div id="audio_annotations" style="margin-top:5px; position:relative; width:{{ waveform_width }}px; background: #eee; height: 64px">
    </div>
</div>


<script>
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '420',
            width: '1000',
            playerVars: { 'autoplay': 0, 'rel': 0 },
            videoId: '{{ youtube_video_id }}',
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
    }

    var currentTime = 0;

    function onPlayerStateChange(event) {
            updateWaveformPosition();
    }

    function updateWaveformPosition(){
        var pixelsPosition = getPixelFromSeconds(currentTime);
        var scrollLeft = Math.floor(pixelsPosition / 1000) * 1000;
        document.getElementById("waveform").scrollLeft = scrollLeft;
    }

    function getPixelFromSeconds(positionInSeconds){
        var duration = {{ duration }};
        var totalPixels = {{ waveform_width }};
        return (totalPixels * positionInSeconds) / duration;
    }


    setInterval(function(){
        currentTime = player.getCurrentTime();

        var pixelsPosition = getPixelFromSeconds(currentTime);
        document.getElementById("position").style.left = pixelsPosition + "px";

        var xx = pixelsPosition - document.getElementById("waveform").scrollLeft;

        if(xx > 990 && player.getPlayerState() === YT.PlayerState.PLAYING){
            updateWaveformPosition();
        }
    }, 100);

    $.getJSON('/static/lbls/image/{{youtube_video_id}}.json', function(data) {

        var colors = [
            "Red",
            "Lime",
            "Yellow",
            "Olive",
            "Green",
            "Aqua",
            "Teal",
            "Blue",
            "Navy",
            "Fuchsia",
            "Maroon",
            "Purple"];

        var class_color_mapping = {};

        var classes = new Set();

        $.each(data, function(key, value){
            classes.add(value.label);
        });
        classes = Array.from(classes);

        $.each(classes, function(key, value){
            class_color_mapping[value] = colors[key];
        });

        $.each(data, function(key, value){
            var left = getPixelFromSeconds(value.start_seconds);
            var duration = getPixelFromSeconds(value.end_seconds - value.start_seconds);
            var color = class_color_mapping[value.label];
            $('#image_annotations').append(
                '<div style="background: '+color+'; position: absolute; left:'+left+'px; width:'+duration+'px; opacity: 0.5; height:64px;">'
            )
        });
    });

</script>
</body>
</html>
